body {
  background-color: #3a3a3a;
  font: Normal 14px Montserrat;
}

h3 {
  padding: 10px;
  color: white;
  text-align: center;
}
section{
  color: black;
  padding: 20px;
  width: 400px;
  background-color: white;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 7px black;
}
footer {
  color: white;
  margin-top: 20px;
  font: 600 16px Montserrat;
  text-align: center;
}